#menu_admin{
    width: 206px;
    overflow: hidden;
    background: #E1E1E1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border: solid 1px #000;
    border-radius: 5px 5px 5px 5px;
}
#menu_admin h3{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    background: #373639;
    color: #fff;
}
#menu_admin a{
    color: #333;
    height: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: block;
    background: #f6f5f8;
    padding-left: 10px;
    padding-top: 5px;
}
#menu_admin a:hover{
    color: #C00;
}
#menu_admin ul{
    padding: 0px;
    margin-top: 0px;
}
#menu_admin li{
    list-style: none;
    background: #f6f5f8;
    margin-bottom: 1px;
    margin-top: 1px;
    height: 25px;
    display: block;
}
#exit_admin{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
